<div class="card mb-3" style="max-width: 400px">
  <div class="row g-0 border">
    <div class="col-md-8">
      <div class="card-body">
        <p class="lead">Welcome to Habit Sensei!</p>
        <hr />
        <p>Sensei, Let's Add a new Habit!</p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="https://raw.githubusercontent.com/am-vishal/HabitSensei/main/assets/images/5999872.webp" class="img-fluid rounded-start" alt="..." />
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <span class="float-start"> 0 Task Pending </span>
      <span class="float-end"> 4 / 4 </span>
    </div>
  </div>
  <div class="card" style="max-width: 400px">
    <!-- <div class="card-body">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" />
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">+ Add</button>
      </div>
    </div> -->
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
    </div>
  </div>
</div>
