<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="HabitSensei: Helping you achieve your goals and become the hero of your own Ninja journey." />
    <meta name="keywords" content="HabitSensei, Habit Tracker, Coding-Ninja-Habit-Tracker, Habit Sensei, Habit-Sensei" />
    <meta name="author" content="Vishal Kumar(https://github.com/am-vishal)" />
    <link rel="icon" type="image/x-icon" href="/images/favicon_HS.png" />
    <title>HabitSensei</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Habit Sensei!</h1>
        <p class="lead">HabitSensei: Helping you achieve your goals and become the hero of your own Ninja journey.</p>
        <hr class="my-4" />
      </div>
    </div>
    <div class="container text-center">
      <div class="animated">
        <h2>Sensei, Create a new Habit!</h2>
        <div id="animated-box">
          <div class="fade-in-up mt-4 d-flex justify-content-center">
            <%- include('card') -%>
            <div class="card" style="width: 18rem">
              <div class="card-body">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" />
                  <button class="btn btn-outline-secondary" type="button" id="button-addon2">+ Add</button>
                </div>
              </div>
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
