body {
  background-color: #e9ecef;
}
header {
  background-color: #003f5c;
  text-align: center;
}

.jumbotron {
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#animated-box {
  animation-name: fade-in-up;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
